<section id="experience">
    <div class="container">
        <h2 class="section-title">@Localizer.T("ProfessionalExperience")</h2>
        <div class="experience-container">
            @foreach (var exp in portfolio.Experiences.OrderByDescending(e => e.DateDebut))
            {
                var idPart = exp.IdExperience.ToString() ?? "0";
                <div class="exp-item" data-aos="fade-right" data-aos-delay="200">
                    <div style="display:flex; justify-content:space-between;">
                        <h3>@Localizer.T($"Experience.{idPart}.Titre")</h3>
                        <span style="color:#4f46e5;">
                            @exp.DateDebut.Year - @(exp.DateFin.HasValue?
                            exp.DateFin.Value.ToString("yyyy") : Localizer.T("Present"))
                        </span>
                    </div>
                    <p>@(new MarkupString(@Localizer.T($"Experience.{idPart}.Detail").Replace("\\n", "<br/>")))</p>
                </div>
            }
        </div>
    </div>
</section>
