<section id="services">
    <div class="container">
        <h2 class="section-title">@Localizer.T("MyServices")</h2>
        <div class="services-grid">
            <div class="service-card" data-aos="flip-left">
                <i class="fas fa-desktop"></i>
                <h3>@Localizer.T("Service.1.Title")</h3>
                <p>@Localizer.T("Service.1.Description")</p>
            </div>

            <div class="service-card" data-aos="flip-left" data-aos-delay="100">
                <i class="fas fa-globe"></i>
                <h3>@Localizer.T("Service.2.Title")</h3>
                <p>@Localizer.T("Service.2.Description")</p>
            </div>
            <div class="service-card" data-aos="flip-left" data-aos-delay="400">
                <i class="fas fa-robot"></i>
                <h3>@Localizer.T("Service.3.Title")</h3>
                <p>@Localizer.T("Service.3.Description")</p>
            </div>

            <div class="service-card" data-aos="flip-left" data-aos-delay="500">
                <i class="fas fa-tools"></i>
                <h3>@Localizer.T("Service.1.Title")</h3>
                <p>@Localizer.T("Service.1.Description")</p>
            </div>
            <!--<div class="service-card" data-aos="flip-left"><i class="fas fa-laptop-code"></i><h3>Applications WinForms</h3><p>Desktop robuste VB.NET/C#</p></div>
                <div class="service-card" data-aos="flip-left" data-aos-delay="100"><i class="fas fa-globe"></i><h3>Applications Blazor</h3><p>Web modernes et réactives</p></div>
                <div class="service-card" data-aos="flip-left" data-aos-delay="200"><i class="fas fa-cloud-upload-alt"></i><h3>API ASP.NET Core</h3><p>APIs RESTful sécurisées JWT</p></div>
                <div class="service-card" data-aos="flip-left" data-aos-delay="300"><i class="fas fa-database"></i><h3>Optimisation SQL Server</h3><p>Schémas, requêtes, indexation</p></div>-->
        </div>
    </div>
</section>